@model IEnumerable<MVCHomeWork1.Models.客戶資料>

@{
    ViewBag.Title = "客戶資料";
}
<script>
    function showDel() {
       
        var chk = $('#showDelete');
      
        if (chk.prop('checked')) {
        
            $('.del').css("display", "table-row")
          
        }
        else {
            $('.del').css("display", "none")
        }
        
    }
    
</script>
<h2>客戶資料</h2>

<p>
    @Html.ActionLink("新增客戶資料", "Create")
    &nbsp;
    <input type="checkbox" id="showDelete" onclick="showDel()"><label>顯示刪除資料</label>
    &nbsp;
    &nbsp;
   @using (Html.BeginForm("index", "客戶資料", FormMethod.Post))
   {
    <input type="text" name="queryKeyword" id="queryKeyword" width="120" />@:&nbsp;<input type="submit" value="查詢" />
   }
   @Html.ActionLink("匯出資料", "ExportExcel")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.客戶名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.統一編號)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.電話)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.傳真)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.地址)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.已刪除 == false)
        {
            
            <tr class="notDel" >

                <td>
                    @Html.DisplayFor(modelItem => item.客戶名稱)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.統一編號)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.電話)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.傳真)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.地址)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("編輯", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("詳細資訊", "Details", new { id = item.Id }) |
                    @Html.ActionLink("刪除", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
        else
        {
            <tr class="del" style="display:none">

                <td style="color:red">
                    @Html.DisplayFor(modelItem => item.客戶名稱)
                </td>
                <td style="color:red">
                    @Html.DisplayFor(modelItem => item.統一編號)
                </td>
                <td style="color:red">
                    @Html.DisplayFor(modelItem => item.電話)
                </td>
                <td style="color:red">
                    @Html.DisplayFor(modelItem => item.傳真)
                </td>
                <td style="color:red">
                    @Html.DisplayFor(modelItem => item.地址)
                </td>
                <td style="color:red" >
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td style="color:red">
                    @Html.ActionLink("編輯", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("詳細資訊", "Details", new { id = item.Id }) |                  
                    @Html.ActionLink("回復", "Recover", new { id = item.Id })
                </td>
            </tr>
        }
    }

</table>

